table, td, th{

    border-bottom: 2px solid;
    border-collapse: collapse;
    border-color: #ddd;
    margin: auto;
    
 }
 
 th{
     
     background-color: dodgerblue;
     color: white;
     padding: 20px;
 }
 
 td{
 
     background-color: white;
     padding: 20px;
 }
 
 .container{
 
     width: 90%;
     margin: auto;
     padding-top: 40px;
     
 }
 
 table{
     width: 80%;
     font-size: 20px;
 }
 
 span{
     
     background-color: rgba(0, 128, 11, 0.986);
     color: white;
     border-radius: 6px;
     padding: 3px;
     color: white;
     
    
 }
 